
NP_COMPLETE.log

NP_COMPLETE.fls

NP_COMPLETE.fdb_latexmk

NP_COMPLETE.aux

.ipynb_checkpoints/task45_Zhukov_vlad-checkpoint.ipynb

.ipynb_checkpoints/merge_files_to_one_pdf-checkpoint.ipynb

__pycache__/test.cpython-34.pyc

__pycache__/src.cpython-34.pyc

ss.pdf
